<% if flash[:alert] %>
  <div id="alertNotice">
    <p class="bg-warning"><%= flash[:alert] %></p>
  </div>
<% end %>

<table class="table table-bordered table-hover">
  <thead class="bg-autores">
  	<tr>
  	  <th><%= t('.nome') %></th>
      <th><%= t('.quantidade') %></th>
  	  <th colspan="2">&nbsp;</th>
  	</tr>
  </thead>
  <tbody>
    <% if @authors.any? %>
    	<% @authors.each do |a| %>
    	  <tr>
    	  	<td><%= a.name %></td>
          <td><%= a.books.where(user_id: session[:user_id]).size %></td>
    	  	<td><%= link_to(t('.editar'), edit_author_path(a), class: 'btn btn-warning btn-sm') %></td>
          <td><%= link_to(t('.deletar'), authors_path(a), method: :delete, data: {confirm: t('.confirmacao')}, class: 'btn btn-danger btn-sm' ) %></td>
    	  </tr>
    	<% end %>
    <% else %>
      <tr>
        <td class="text-center" colspan="4"><%= t('.vazio') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to(t('authors.novo'), new_author_path, class: 'btn btn-primary') %>