<%= form_for @book do |f| %>

  <% if @book.errors.any? %>
    <%= render 'shared/form_errors', form: @book %>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <br/>
  </div>

  <div class="form-group">
    <%= f.label :author_id %>
    <%= f.collection_select :author_id, @authors, :id, :name, {:prompt => t('.selecione') }, class: 'form-control' %>
    <br/>
  </div>

  <div class="form-group">
    <%= f.label :wishlist %> <br/>
    <%= f.radio_button :wishlist, true, checked: true %>
    <%= label :wishlist_true, t('books.sim') %>
    <%= f.radio_button :wishlist, false %>
    <%= label :wishlist_false, t('books.nao') %>
    <br/>
  </div>

  <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :link, class: 'form-control' %>
    <br/>
  </div>

  <div class="form-group">
    <%= f.label :read %><br/>
    <%= f.radio_button :read, true %>
    <%= label :read_true, t('books.sim') %>
    <%= f.radio_button :read, false, checked: true %>
    <%= label :read_false, t('books.nao') %>
    <br/>
  </div>

  <div class="form-group">
    <%= f.label :grade %>
    <div id="estrelas"></div>
    <%#= f.text_field :grade, class: 'form-control' %>
    <br/>
  </div>

  <div class="form-group">
    <%= f.submit nil, class: 'btn btn-success' %>
  </div>
<% end %>