<table class="table table-bordered table-hover">
  <thead>
    <tr class="bg-livros">
      <th><%= t('.nome') %></th>
      <th><%= t('.autor') %></th>
      <th><%= t('.nota') %></th>
      <th><%= t('.lista') %></th>
      <th><%= t('.lido') %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |b| %>
      <tr>
        <td><%= link_to(b.name, b.link, target: '_blank') %></td>
        <td><%= b.author.name %></td>
        <td><%= b.grade %></td>
        <td><%= traduz_resultado(b.wishlist) %></td>
        <td><%= traduz_resultado(b.read) %></td>
        <td><%= link_to(t('.editar'), edit_book_path(b), class: 'btn btn-warning btn-sm') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to(t('books.novo'), new_book_path, class: 'btn btn-primary') %>