<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= t('.nome') %></th>
      <th><%= t('.autor') %></th>
      <th><%= t('.nota') %></th>
      <th><%= t('.lista') %></th>
      <th><%= t('.lido') %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |b| %>
      <tr>
        <td><%= link_to(b.name, b.link, target: '_blank') %></td>
        <td><%= b.author.name %></td>
        <td><%= b.grade %></td>
        <td><%= b.wishlist %></td>
        <td><%= b.read %></td>
        <td><%= link_to(t('.editar'), edit_book_path(b)) %></td>
      </tr>
    <% end %>
  </tbody>
  <%= link_to(t('books.novo'), new_book_path) %>
</table>