<!DOCTYPE html>
<html>
<head>
  <title><%= monta_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Prelo" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container <%= " logoHome" unless logged_in? %>">
  <header>
    <h1 <%= "class=logoHome" unless logged_in? %>>
      <%= link_to(t('geral.app_name'), dashboard_path) %>
    </h1>

    <% if logged_in? %>
      <div id="menuTopo">
        <ul <%= "class=isAdmin" if is_admin? %>>
          <li><%= link_to(t('.menu_home'), dashboard_path) %></li>
          <li><%= link_to(t('.menu_autores'), authors_path) %></li>
          <li><%= link_to(t('.menu_livros'), books_path) %></li>
          <% if is_admin? %>
            <li><%= link_to(t('.menu_usuarios'), users_path) %></li>
          <% end %>
          <li><%= link_to(t('.menu_logout'), logout_path) %></li>
        </ul>
      </div>
    <% end %>
  </header>

  <%= yield %>
</div>

<% if logged_in? %>
  <footer>
    <div class="container">
      <ul id="menuRodape">
        <li class="primeiroNivel"><%= link_to(t('.menu_home'), dashboard_path) %></li>
        <li class="primeiroNivel"><%= link_to(t('.menu_autores'), authors_path) %></li>
        <li class="primeiroNivel"><%= link_to(t('.menu_livros'), books_path) %></li>
      </ul>
    </div>
  </footer>
<% end %>

</body>
</html>
