<!DOCTYPE html>
<html>
<head>
  <title>Mylib</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <% if logged_in? %>
    <ul>
      <li><%= link_to(t('.menu_autores'), authors_path) %></li>
      <li><%= link_to(t('.menu_livros'), books_path) %></li>
      <li><%= link_to(t('.menu_logout'), logout_path) %></li>
    </ul>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
